        .{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            scroll-behavior: smooth;
        }
        :root
        { 
            --bg-color: #000;
            --snd-bg-color: #111;
            --main-color: #FAF8EA;
        }
        body
        {
            height: 100%;
            width: 100%;
        }
        #page
        {
            margin: 2.5%;
            height: 95vh;
            width: 95%;
            background-color: yellow;
            display: grid;
            grid-template-rows: 2fr 2fr;
            align-content: center;
        }
        #kemusify
        {
            display: flex;
            align-items: center;
            font-size: 15vw;
            padding: 5vw;
        }
        img
        {
            height: 15vw;
            width: 20vh;
        }
        #resources
        {
            display: grid;
            grid-template-columns: 3fr 2fr;
            padding: 5vw;
        }
        #comment
        {
            font-size: 3vw;
        }
        #navigation
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 50%;;
            justify-content: space-around;
            align-content: space-around;

            color: #eaf1e0;
        }
/* General Styling */

#Joelech_Image{
    height: 25vh;
    width: 25vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#Joelech_Image img{
    height: 20vh;
    width: 20vw;
    background-color: white;
}
/* General Styling */

#Joelech_Image{
    height: 25vh;
    width: 25vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#Joelech_Image img{
    height: 20vh;
    width: 20vw;
    background-color: white;
}
.channels img{
            height: 5vh;
            width: 5vw;
        }
        .channels img:hover{
            scale: 1.05;
        }
        .platforms div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            justify-items: center;

        }
a{
    color: white;
}


        div
        {
            display: grid;
            align-items: center;
            justify-items: center;
        }
