body
{
    width: 100%;
    display: grid;
    height: 99vh;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 2%;
}
.page
{
    font-size: 3vh;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    margin: 2%;
    border-radius: 2%;
}
#layer_1
{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#layer_2
{
    margin: 2%;
}
.Unit
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;}
#layer_3
{
    margin: 5%;
}
.education_level
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 2vw;
}
.navigation
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}