        body
        {
            width: 100%;
            display: grid;
            height: 99vh;
            justify-content: stretch;
            align-items: stretch;
            border-radius: 2%;
        }
        .page
        {
            height: 97vh;
            width: 97vw;
            font-size: 3vh;
            display: grid;
            grid-template-rows: 2fr 1fr 1fr;
            margin: 2%;
            border-radius: 2%;
        }
        #layer_1
        {
            margin: 3%;
            display: grid;
            grid-template-columns:  1fr 3fr;
        }
        .education_level
        {
            margin: 2vw;
        }
        .Units
        {
            margin: 2vw;
            padding: 2vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .navigation
        {
            display:grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }