    #page
        {
            margin: 2.5%;
            height: 95vh;
            width: 95vw;
            border-radius: 12%;
            display: grid;
            justify-content: space-around;
            align-items: center;
            background-image: url(file:///home/joe/Joelech/Joelech_background.jpg);
        }