    #page
        {
            margin: 2.5%;
            height: 95vh;
            width: 95vw;
            border-radius: 12%;
            display: grid;
            grid-template-rows: 2fr 2fr;
            justify-content: space-around;
            align-items: center;
            background-image: url(https://joemuiga.github.io/Joelech/Web/Joelech/Joelech_background.jpg);
        }