        body
        {
            width: 100%;
            display: grid;
            height: 99vh;
            justify-content: stretch;
            align-items: stretch;
            border-radius: 2%;
        }
        .page
        {
            background-color: #f2f5ff;
            font-size: 3vh;
            display: grid;
            grid-template-rows: 1fr;
            margin: 3%;
            border-radius: 2%;
        }
        .education_level
        {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin: 2vw;
        }
        .Units
        {
            margin: 2vw;
            padding: 2vw;
        }